@charset "UTF-8";

.navbar-brand {
	display: inline-table;
	width: 100%;
	height: 100%;
}

.nav.navbar-nav {
	padding: 10px;
}

h1 {
	font: small-caps 100%/200% serif;
	text-align: center;
	font-size:larger;
	color: #FFFFFF;
	
	
}
